NEXT_PUBLIC_SUPABASE_URL=https://rsqmhuitbxequtqqjopb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzcW1odWl0YnhlcXV0cXFqb3BiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1NTQ0NzgsImV4cCI6MjA5MzEzMDQ3OH0.U7UcpTR03dIekefNmQDHMx7OjJ3UU22OHJT-NLoXj5Y
NEXT_PUBLIC_RELIANT_API_URL=https://reliant-production.up.railway.app
BREVO_API_KEY=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
